
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <title>Acceso denegado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="~/css/style.css" rel="stylesheet">
    <style>
        /* Estilos personalizados */
        body, html {
            height: 100%;
            margin: 0;
        }

        .pagina-login {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding-bottom: 50px;
        }

        .caja-login {
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .footer {
            padding: 20px;
            bottom: 0;
            width: 100%;
        }
        </style>
</head>

<body>
   <hr />
   <br />
   <br />
   <br />
  <br />
<div class="pagina-login">
<div class="caja-login">
            <p class="mensaje">
                ¡Acceso Denegado!
                Revisa el nombre de usuario y contraseña e intenta de nuevo
                @Html.ActionLink("Acceder a tu cuenta", "Login", "Account", new { area = "" }, new { @class = "waves-effect waves-dark" })
            </p>
</div>
</div>
</body>
<hr />
<br />
<br />
<br />
<br />
<hr />
<br />
<br />
<br />
<br />

