@{
    ViewBag.Title = "Renovar Membresía";
    Layout = "~/Views/Shared/_Client_layout.cshtml";
}
@*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">*@
<div class="container">
    <h2>Renovar Membresía</h2>
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Información de Tarjeta</span>
                    <form>
                        <div class="input-field">
                            <input id="numeroTarjeta" type="text" class="validate" placeholder="Número de Tarjeta">
                        </div>
                        <div class="input-field">
                            <input id="fechaExpiracionTarjeta" type="text" class="datepicker" placeholder="Fecha de Expiración">
                        </div>
                        <div class="input-field">
                            <input id="codigoSeguridad" type="text" class="validate" placeholder="Código de Seguridad">
                        </div>
                        <div class="input-field">
                            <input id="nombreTarjeta" type="text" class="validate" placeholder="Nombre en la Tarjeta">
                        </div>
                        <button class="btn waves-effect waves-light pagarBtn" type="button" name="action">Renovar</button>
                        @Html.ActionLink("Cancelar", "Membership", "Cliente", new { area = "" }, new { @class = "btn waves-effect waves-light" })
                        @Html.ActionLink("Regresar", "Membership", "Cliente", new { area = "" }, new { @class = "btn waves-effect waves-light" })
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Aviso de Renovación -->
<div class="modal fade" id="modalRenovacion" tabindex="-1" role="dialog" aria-labelledby="modalRenovacionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRenovacionLabel">Membresía Renovada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Pago Exitoso
                <p>Nueva fecha de expiración: 24/08/2024</p>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'
        });

        $('#pagarBtn').on('click', function (event) {
            $('#modalRenovacion').modal('show');
        });
    });
</script>

