
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Client_layout.cshtml";
}




<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Código QR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="css/style.css" rel="stylesheet">
    <style>
        /* Estilos personalizados */
        body, html {
            height: 100%;
            margin: 0;
        }

        .pagina-qr {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .caja-qr {
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .footer {
            background-color: #f9f9f9;
            padding: 20px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .qr-image {
            max-width: 100%;
            height: auto;
        }

        .guardar-button {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <br />
    <div class="pagina-qr">
        <div class="caja-qr">
            <h3>Código QR</h3>
            <img src="~/Content/img/CodigoQR.png" alt="Código QR" class="qr-image" />

        </div>
        @Html.ActionLink("Guardar", "Index", "Cliente", new { area = "" }, new { @class = "guardar-button btn waves-effect waves-light" })
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
