
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Trainer_layout.cshtml";
}


<div class="container">
    <h2>Clientes</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Número Telefónico</th>
                <th>Última Visita</th>
                <th>Rutina</th>
                <th>Última Actualización</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Juan</td>
                <td>Pérez</td>
                <td>123-456-7890</td>
                <td>01/08/2023</td>
                <td>Si</td>
                <td>15/08/2023</td>
                <td>
                    <a href="@Url.Action("Gestion", "Trainer")" class="btn waves-effect waves-light">Rutinas</a>
                </td>
            </tr>
            <tr>
                <td>María</td>
                <td>López</td>
                <td>987-654-3210</td>
                <td>10/08/2023</td>
                <td>No</td>
                <td>14/08/2023</td>
                <td>
                    <a href="@Url.Action("Gestion", "Trainer")" class="btn waves-effect waves-light">Rutinas</a>
                </td>
            </tr>
            <!-- Agrega más filas de expedientes aquí -->
        </tbody>
    </table>
    <a href="@Url.Action("Index", "Trainer")" class="btn waves-effect waves-light">Regresar</a>
</div>


