@{
    ViewBag.Title = "Modificar Clase";
    Layout = "~/Views/Shared/_Trainer_layout.cshtml";
}

<div class="container">
    <h2>Modificar Clase</h2>
    <form>

        <div class="input-field">
            <input id="tipoClase" type="text" class="validate" value="Clase 1">
            <label for="tipoClase">Tipo de Clase</label>
        </div>
        <div class="input-field">
            <input id="instructor" type="text" class="validate" value="Instructor A">
            <label for="instructor">Instructor Asignado</label>
        </div>
        <div class="input-field">
            <input id="fecha" type="date" class="validate" value="2023-08-20">
            <label for="fecha">Fecha</label>
        </div>
        <div class="input-field">
            <input id="hora" type="text" class="validate" value="10:00 AM">
            <label for="hora">Hora</label>
        </div>
        <button class="btn waves-effect waves-light" type="button" name="action" id="guardarBtn">Guardar</button>
    </form>
    <br />
    <a href="@Url.Action("Classes", "Trainer")" class="btn waves-effect waves-light">Regresar</a>
</div>

<!-- Aviso de Clase Modificada -->
<div id="aviso-modificada" class="hide">
    <div class="container">
        <div class="card-panel teal lighten-2">
            <span class="white-text">Clase Modificada: Tipo de Clase, Instructor, Fecha, Hora</span>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var guardarBtn = document.getElementById('guardarBtn');
        var avisoModificada = document.getElementById('aviso-modificada');

        guardarBtn.addEventListener('click', function () {
            avisoModificada.style.display = 'block';
        });
    });
</script>
