<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>UGym</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="http://webthemez.com" />
    <!-- css -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Content/css/fancybox/jquery.fancybox.css" rel="stylesheet" asp-append-version="true" >
    <link href="~/Content/css/flexslider.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Content/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FrontEnd.styles.css" asp-append-version="true" />

    <!-- HTML5 saaaaaaaaaaaaaaaaaaaaaaaaaaaaahim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <style>
        .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
            display: initial;
            flex-wrap: inherit;
            align-items: initial;
            justify-content: flex-start;
        }

        /* Estilo para los elementos de navegación */
        .navbar-nav {
            display: initial;
            align-items: flex-end;
        }
    </style>
</head>
<body>
    <div id="wrapper" class="home-page">
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"/>
                            <img src="~/Content/img/U Wellness Center Phone Banner Web.png" alt="Logo">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse text-center">
                        <ul class="nav navbar-nav">
                            <li class="active">
                  
                                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class ="waves-effect waves-dark" })
                                </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle waves-effect waves-dark">Información</a>
                                <ul class="dropdown-menu">
                                    <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Equipo</a></li>
                                    <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Noticias</a></li>
                                    <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Instalaciones</a></li>
                                    <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Historia</a></li>
                                </ul>
                            </li>
                            <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Servicios</a></li>
                            <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Galerías</a></li>
                            <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Planes</a></li>
                            <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contactar</a></li>
                            <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Account" asp-action="Login">Inicio de Sesión</a></li>
                            <li><a class="waves-effect waves-dark" asp-area="" asp-controller="QRCode" asp-action="Index">QRCode</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->

        @RenderBody()

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widgetheading">Our Contact</h5>
                            <address>
                                <strong>Bootstrap company Inc</strong><br>
                                JC Main Road, Near Silnile tower<br>
                                Pin-21542 NewYork US.
                            </address>
                            <p>
                                <i class="icon-phone"></i> (123) 456-789 - 1255-12584 <br>
                                <i class="icon-envelope-alt"></i> email@domainname.com
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widgetheading">Quick Links</h5>
                            <ul class="link-list">
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Latest Events</a></li>
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Terms and conditions</a></li>
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Privacy policy</a></li>
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Career</a></li>
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widgetheading">Latest posts</h5>
                            <ul class="link-list">
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Natus error sit voluptatem accusantium doloremque</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widgetheading">Recent News</h5>
                            <ul class="link-list">
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index">Natus error sit voluptatem accusantium doloremque</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright">
                                <p>
                                    <span>&copy; Operation Health 2023</span>  All Rights Reserved.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ul class="social-network">
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a class="waves-effect waves-dark" asp-area="" asp-controller="Home" asp-action="Index" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/materialize/js/materialize.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.fancybox.pack.js"></script>
    <script src="~/Content/js/jquery.fancybox-media.js"></script>
    <script src="~/Content/js/jquery.flexslider.js"></script>
    <script src="~/Content/js/animate.js"></script>
    <!-- Vendor Scripts -->
    <script src="~/Content/js/modernizr.custom.js"></script>
    <script src="~/Content/js/jquery.isotope.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/animate.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
