@{
    ViewBag.Title = "Reservar Espacio";
    Layout = "~/Views/Shared/_Client_layout.cshtml";
}

<div class="container">
    <h2>Reservar Espacio en el Gimnasio</h2>

</div>

<!-- Sección de Reserva de Espacio -->
<div id="reserva-espacio-section" class="container">
    <h3>Seleccione el Espacio, Fecha y Hora</h3>
    <form>
        <div class="input-field">
            <select id="espacio">
                <option value="" disabled selected>Seleccione un Espacio</option>
                <option value="pesas">Área de Pesas</option>
                <option value="cardio">Área de Cardio</option>
                <!-- Agregar más opciones de espacios aquí -->
            </select>
            <label for="espacio">Espacio</label>
        </div>
        <div class="input-field">
            <input type="date" id="fecha">
            <label for="fecha">Fecha</label>
        </div>
        <div class="input-field">
            <input type="time" id="hora">
            <label for="hora">Hora</label>
        </div>
        <a class="waves-effect waves-light btn" id="confirmar-reserva-btn">Reservar</a>
    </form>

    <br />
    <br />
    @Html.ActionLink("Regresar", "Index", "Cliente", new { area = "" }, new { @class = "btn waves-effect waves-light" })
</div>
<!-- Aviso de Espacio Reservado -->
<div id="aviso-reservado" class="hide">
    <div class="container">
        <div class="card-panel teal lighten-2">
            <span class="white-text">Espacio Reservado</span>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('#reservar-espacio-btn').click(function () {
            $('#reserva-espacio-section').show();
        });

        $('#confirmar-reserva-btn').click(function () {
            $('#aviso-reservado').removeClass('hide');
        });

        // Inicializar los select y otros elementos de Materialize
        var selectElems = document.querySelectorAll('select');
        M.FormSelect.init(selectElems);
    });
</script>
