<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Shape Multi purpose HTML5 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="http://webthemez.com" />
    <!-- css -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/materialize/css/materialize.min.css" rel="stylesheet" media="screen,projection" />
    <link href=" ~ /css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />


    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

</head>
<body>
<!-- Slider -->
<div id="main-slider" class="flexslider">
    <ul class="slides">
            <li>
                <img src="~/img/slides/2.jpg" alt="" />
                <div class="flex-caption">
                <h3>Perfección</h3>
                <p>Cuida tu Cuerpo</p>
            </div>
        </li>
        <li>
                <img src="~/img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                <h3>Progeso</h3>
                <p>Disfruta del auro de la buena salúd</p>
            </div>
        </li>
    </ul>
</div>
<!-- end slider -->
<section id="content">

    <div class="container">


        <section class="services">
            <div class="row">
                <div class="col-md-12" style="font-size: medium;">
                    <div class="aligncenter">
                        <h2 class="aligncenter">Sobre Nosotros</h2>
                        <p style="font-size:25px">Solo una vida, vívela bien</p>
                    </div>
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 info-blocks">
                    <i class="icon-info-blocks material-icons">space_dashboard</i>
                    <div class="info-blocks-in">
                        <h3>Aerobics</h3>
                        <p>El Gimnasio U-Gym es un gran espacio de 2000 metros cuadrados, que dispone de un ambiente agradable, tecnología y las instalaciones idóneas, para convertir ejercicio en todo un privilegio.</p>
                    </div>
                </div>
                <div class="col-sm-3 info-blocks">
                    <i class="icon-info-blocks material-icons">person_outline</i>
                    <div class="info-blocks-in">
                        <h3>Cardio</h3>
                        <p>El Gimnasio U-Gym, se caracteriza por brindar un servicio personalizado que podrás comprobar desde el primer día en el gimnasio, el cual se inicia con una evaluación física para determinar un programa de ejercicios ideales para ti.</p>
                    </div>
                </div>
                <div class="col-sm-3 info-blocks">
                    <i class="icon-info-blocks material-icons">local_dining</i>
                    <div class="info-blocks-in">
                        <h3>Consulting</h3>
                        <p>Además, de manera opcional, una consulta nutricional que te ayudará a mantener una dieta adecuada y complementaria al programa de ejercicios.</p>
                    </div>
                </div>
                <div class="col-sm-3 info-blocks">
                    <i class="icon-info-blocks material-icons">fitness_center</i>
                    <div class="info-blocks-in">
                        <h3>Consultoría</h3>
                        <p>U-Gym se encargara de diseñarte una rutina de entrenamiento que será explicada por un entrenador y asesorada en todo momento durante la sesión de ejercicios.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


<section class="dishes">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <div class="aligncenter"><h2 class="aligncenter">Servicios</h2>U-Wellness Center te ofrece una diversa gama de servicios, comodidades y actividades diseñadas para enriquecer tu bienestar, salud y entretenimiento. Entre estas opciones, encontrarás...</div>
                <br />
            </div>
        </div>
        </div>
    <div class="container">
        <div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="card small" style="border-radius:20px">
                    <div class="card-image">
                            <img class="~/img-responsive" src="~/img/service2.jpg" alt="" style="border-radius:20px 20px 0px 0px">
                            <span class="card-title">Gimnasio</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Amplia variedad de maquinas para todas las areas musculares y a tu disposición, con la guia de nuestros Instructores...
                        </p>
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="card small" style="border-radius:20px">
                    <div class="card-image">
                            <img class="~/img-responsive" src="~/img/service5.jpg" alt="" style="border-radius:20px 20px 0px 0px">
                            <span class="card-title">Baile</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Clases de Danza y baile para todos los gustos y edades, con instructores profesionales...
                        </p>
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="card small" style="border-radius:20px">
                    <div class="card-image">
                            <img class="~/img-responsive" src="~/img/service3.jpg" alt="" style="border-radius:20px 20px 0px 0px">
                            <span class="card-title">Booty Change</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Una clase con el objetivo de desarrollo de la masa muscular y ganancia de fuerza en glúteos, piernas y abdomen...
                        </p>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="row service-v1 margin-bottom-40">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="card small" style="border-radius:20px">
                    <div class="card-image">
                            <img class="~/img-responsive" src="~/img/service1.jpg" alt="" style="border-radius:20px 20px 0px 0px">
                        <span class="card-title">Entrenamiento Funcional</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Gran cantidad de clases de entrenamiento funcional guidas por nuestros instructores...
                        </p>
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="card small" style="border-radius:20px">
                    <div class="card-image">
                            <img class="~/img-responsive" src="~/img/service6.jpg" alt="" style="border-radius:20px 20px 0px 0px">
                        <span class="card-title">Cafeteria</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Zona para descanzar, comer y relajarse con nuestros desayunos, almuerzos y meriendas U-Wellness...
                        </p> 
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="card small" style="border-radius:20px">
                    <div class="card-image">
                            <img class="~/img-responsive" src="~/img/service7.jpg" alt="" style="border-radius:20px 20px 0px 0px">
                        <span class="card-title">Servicios Medicos</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Amplia variedad de servicios con medicos privados, quienes de daran soporte nutricional, muscular y de tu salud en general...
                        </p>
                        <br />
                    </div>
                </div>
            </div>
    </div>
        </div>
</section>

<section class="section-padding gray-bg">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <div class="section-title text-center">
                     <h2>
                         Visítanos
                     </h2>
                     <p>
                         te esperamos...
                         <br>75 metros Este de la Iglesia de Lourdes. San José, Montes de Oca.
                     </p>
                 </div>
             </div>
         </div>
         <div class="row justify-content-center">
             <!-- Añadido justify-content-center para centrar el contenido -->
             <div class="col-md-12 col-sm-12">
                 <!-- Ajustado a col-md-10 y col-sm-10 para un mejor centrado -->
                 <div class="about-text text-center">
                     <!-- Añadido text-center para centrar el contenido, mantenido border-radius:20px -->
                     <!-- Google Maps iframe -->
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d315.0368976689607!2d-84.0408273!3d9.9330351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e38b81e0a999%3A0x67e201b2c086cca1!2sU-Wellness%20Center!5e0!3m2!1ses!2scr!4v1635103326596" width="600" height="450" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                 </div>
                 <div>
                        <a href="https://maps.app.goo.gl/fZy2dFXf9v7Q1D6M8" class="btn btn-primary waves-effect waves-dark" style="border-radius:20px;width: 50%;margin-left: 25%;margin-right: 25%;"> Abrir en Google Maps 🗺️</a>
                 </div>
             </div>
         </div>
     </div>
</section>



<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="~/js/jquery.js"></script>
<script src="~/js/jquery.easing.1.3.js"></script>
<script src="~/materialize/js/materialize.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.fancybox.pack.js"></script>
<script src="~/js/jquery.fancybox-media.js"></script>
<script src="~/js/jquery.flexslider.js"></script>
<script src="~/js/animate.js"></script>
<!-- Vendor Scripts -->
<script src="~/js/modernizr.custom.js"></script>
<script src="~/js/jquery.isotope.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/animate.js"></script>
<script src="~/js/custom.js"></script>
    </body>
</html>
